# Contentful CMS
VITE_CONTENTFUL_SPACE=your_contentful_space_id
VITE_CONTENTFUL_ACCESS_TOKEN=your_contentful_cda_token
# Leave the next two blank to reuse VITE_CONTENTFUL_SPACE and the master environment.
VITE_INTERACTION_SPACE=
VITE_INTERACTION_ENVIRONMENT=
VITE_INTERACTION_ACCESS_TOKEN=your_contentful_cma_manage_token
VITE_IP_DISCOVERY_URL=https://api64.ipify.org?format=json
VITE_UPLOADER_URL=


# Note: https://www.contentful.com/developers/docs/extensibility/app-framework/sdk/